@use "@mixins" as mix;
@use "@vars" as var;

.navbarOverlay {
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var.$color-overlay-dark;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
  transition: opacity 200ms ease;
}
.navbarOverlay.open {
  opacity: 1;
}