@use "@mixins" as mix;

.sliderWrapper {
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
}

.sliderTrack {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  overflow: hidden;
}

.sliderThumb {
  position: absolute;
  border-radius: 16px;
  border: 1px solid var(--color-border);
  overflow: hidden;
}
.sliderThumbHorizontal {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sliderThumbVertical {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sliderThumbHover {
  &:hover {
    filter: brightness(75%);
  }
  &:active {
    filter: brightness(125%);
  }
}

// Indicator

.sliderIndicator {
  position: absolute;
  cursor: pointer;
}
.sliderIndicatorHorizontal {
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-50%);
}
.sliderIndicatorVertical {
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

.sliderIndicatorDot {
  aspect-ratio: 1;
  border-radius: 50%;
}

.sliderIndicatorLine {
  border-radius: 8px;
}
