// @use "@vars" as var;
@use "@mixins" as mix;

:root {
  @include mix.screen_small {
    --ui-border-width: 1.5px;
  }
  @include mix.screen_medium {
    --ui-border-width: 1.5px;
  }
  @include mix.screen_large {
    --ui-border-width: 1px;
  }
}
