// @use "@vars" as var;
@use "@mixins" as mix;

// Global

@include mix.layout_compact {
  --ui-border-width: 2px;
}

@include mix.layout_expanded {
  --ui-border-width: 1px;
}

// 

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
