@use "@vars" as var;

// ===== Responsive (Size);

@mixin screen_small {
  @if & {
    html[data-screen-type="small"] & {
      @content;
    }
  } @else {
    html[data-screen-type="small"] {
      @content;
    }
  }
}

@mixin screen_medium {
  @if & {
    html[data-screen-type="medium"] & {
      @content;
    }
  } @else {
    html[data-screen-type="medium"] {
      @content;
    }
  }
}

@mixin screen_large {
  @if & {
    html[data-screen-type="large"] & {
      @content;
    }
  } @else {
    html[data-screen-type="large"] {
      @content;
    }
  }
}

// ===== Responsive (Layout);

@mixin layout_compact {
  @if & {
    html[data-layout-type="compact"] & {
      @content;
    }
  } @else {
    html[data-layout-type="compact"] {
      @content;
    }
  }
}

@mixin layout_expanded {
  @if & {
    html[data-layout-type="expanded"] & {
      @content;
    }
  } @else {
    html[data-layout-type="expanded"] {
      @content;
    }
  }
}

// ===== Theme Mode;

@mixin theme_light($selector) {
  html[data-theme-mode="light"] #{$selector} {
    @content;
  }
}

@mixin theme_dark($selector) {
  html[data-theme-mode="dark"] #{$selector} {
    @content;
  }
}

// ===== Display: Flex;

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

// ===== Others;

@mixin width_full {
  width: 100%;
}
@mixin height_full {
  height: 100%;
}
