@use "@mixins" as mix;

.btnBase {
  @include mix.flex_center;
  gap: 8px;

  color: inherit;
  text-decoration: none;
  text-decoration-color: currentColor;

  border: none;
  border-radius: 64px;

  transition: opacity 0.3s ease-in-out;

  @include mix.layout_expanded {
    transition:
      opacity 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      filter 0.3s ease-in-out;
  }

}

.btnBaseEffects {
  @include mix.layout_compact {
    &:active {
      opacity: 0.5;
    }
  }
  @include mix.layout_expanded {
    &:active {
      opacity: 0.5;
    }
  }
}

.btnDisable {
  opacity: 0.3;
  pointer-events: none;
}

.btnNoInteraction {
  pointer-events: none;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }
}

// ========== COLORS & VARIANT's ==========

.btnVariantMain {
  background: var(--btn-base);
  color: var(--btn-contrast);
  @include mix.layout_expanded {
    filter: contrast(100%);
    &:hover {
      filter: contrast(125%);
    }
  }
}

.btnVariantSecondary {
  color: var(--color-text);
  background: transparent;
  border: var(--ui-border-width) solid var(--color-border);
  @include mix.layout_expanded {
    &:hover {
      background: var(--color-mutedAlpha);
    }
  }
}

.btnVariantOutline {
  background: transparent;
  color: var(--btn-base);
  border: var(--ui-border-width) solid var(--btn-base);

  @include mix.layout_expanded {
    &:hover {
      filter: contrast(100%);
      background: var(--btn-base);
      color: var(--btn-contrast);
    }
  }
}

.btnVariantGhost {
  background: transparent;
  color: var(--btn-base);
  @include mix.layout_expanded {
    &:hover {
      filter: contrast(100%);
      background: var(--btn-alpha);
    }
  }
}

.btnVariantBgLight {
  background: rgba(255, 255, 255, 0.75);
  color: #000000;
  @include mix.layout_expanded {
    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.btnVariantBgDark {
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  @include mix.layout_expanded {
    &:hover {
      background: rgba(0, 0, 0, 1);
    }
  }
}

// ========== SIZE's ==========

.btnSizeSmall {
  padding: var(--btn-padding, 4px 8px);
}

.btnSizeNormal {
  padding: var(--btn-padding, 8px 16px);
}

// Wrapper

.buttonText {
  color: inherit;
  text-decoration: none;
}

.buttonTextUnderline {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

// Proportion

.square {
  aspect-ratio: 1;
}
