@use "@mixins" as mix;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: blue;
}

.headerLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include mix.screen_medium {
    gap: 8px;
  }
  @include mix.screen_large {
    gap: 16px;
  }
  background-color: red;
}
